@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap&subset=cyrillic");
/* fonts family */
/* color */
/* Basic setting */
iframe {
  width: 100%;
  height: 400px;
  border: none;
}
html {
  font-size: 10px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 20rem;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.logo {
  display: inline-block;
}
.logo logo-span {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.logo logo-h1 {
  display: inline-block;
  color: #1a1820;
  font-size: 1.8rem;
  height: 7rem;
  font-weight: 900;
}
.wraplogo {
  display: table;
  width: 100%;
  height: 7rem;
}
.wraplogo-block {
  display: table-cell;
  vertical-align: middle;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #c51515;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
  white-space: nowrap;
}
.button:hover {
  cursor: pointer;
  background-color: #a01111;
}
/*Оформление форм*/
.form {
  margin: 0;
  /*pole dl vvoda*/
  /*пописи к полям*/
  /*кнопка*/
}
.form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  font-size: 1.8rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1rem;
}
.form-textarea {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.8rem;
}
.form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
  white-space: nowrap;
}
/* Typography */
select {
  padding: 10rem 0;
}
.section-header {
  margin: 7rem 0 10rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
}
.section-header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 2rem;
}
.cmn-toggle-switch {
  display: none;
}
/* main */
.main {
  padding: 3rem 0;
  background: #ffffff url(../img/avtobc.jpg) center center no-repeat;
  background-size: cover;
  /*Подзаголовок*/
  /* &-subtitle {
    margin-top: -8rem;
    
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }*/
  /*Зеленый ярлык*/
  /*оплата по факту*/
  /*Главная форма*/
}
.main-slider img {
  width: 100%;
}
.main-menu {
  border-top: solid 1px #333333;
  border-bottom: solid 1px #333333;
  margin-top: 2.5rem;
  white-space: nowrap;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.main-menu .navbar-light .navbar-nav .nav-link {
  color: #333333;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}
.main-menu .navbar {
  padding: 0;
}
.main-content {
  padding-top: 7rem;
  /*Главный заголовок*/
}
.main-content h1 {
  /*
      margin-top: 2rem;
      margin-bottom: 4rem;
      .bold();
      font-size: 2.8rem;
      line-height: 4rem;
      text-transform: uppercase;
      
      */
}
.main-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: block;
  margin-top: 1.5rem;
  color: #ffffff;
  text-shadow: 1px 1px 10px #000000, -1px -1px 10px #000000;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
  /*заголовок формы*/
  /*подписи под кнопкой*/
}
.main-form-header {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5em;
}
/*свойства слайдера*/
.slick-track {
  opacity: 1;
  min-width: 300px;
}
.header {
  height: 7rem;
  margin-bottom: 5rem;
}
.text-rigth {
  text-align: right;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
  white-space: nowrap;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  height: 7rem;
  line-height: 7rem;
}
.head_info_social img {
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
}
.features {
  margin-bottom: 5rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.features-block p {
  font-size: 1.6rem;
  width: 90%;
  display: inline-block;
}
.features-img {
  height: 8rem;
  margin-bottom: 7rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 30%;
  transform: scaleY(-50%);
  z-index: 99;
  width: 5rem;
  height: 5rem;
  border: none;
  position: absolute;
  opacity: 0.5;
}
.prev-g {
  background: url(../img/arrow-left-g.png) center no-repeat;
  left: 0;
  background-size: 70%;
  color: #c51515;
}
.next-g {
  background: url(../img/arrow-right-g.png) center no-repeat;
  right: 0;
  background-size: 70%;
}
.prev {
  background: url(../img/arrow-left.png) center no-repeat;
  left: 0;
  background-size: 70%;
  color: #c51515;
}
.next {
  background: url(../img/arrow-right.png) center no-repeat;
  right: 0;
  background-size: 70%;
}
/*Секция с ценами автозвук*/
.sound {
  background: #333333 url(../img/price-bg.jpg) center;
}
.sound-block {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  box-sizing: 7px 12px 12px 0px rgba(0, 0, 0, 0.17);
  text-align: left;
  min-height: 13rem;
  box-shadow: inset 0 0 32px rgba(73, 73, 73, 0.16);
}
.sound-block h4 {
  font-size: 2rem;
  height: 8rem;
  text-align: left;
}
.sound-block p {
  font-size: 2rem;
}
.sound-block button {
  z-index: 900;
  position: relative;
}
.sound-block-image {
  z-index: 100;
  position: absolute;
  right: 0rem;
  top: 1rem;
}
.sound .service {
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  margin: 4rem 0;
}
.sound .service-button {
  margin: 3rem 0;
}
/*Секция с ценами шумоизоляция*/
.insulation {
  background: #333333 url(../img/feedback/feedback-bg.jpg) center;
}
.insulation-block {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  box-sizing: 7px 12px 12px 0px rgba(0, 0, 0, 0.17);
  text-align: left;
  min-height: 13rem;
  box-shadow: inset 0 0 32px rgba(73, 73, 73, 0.16);
}
.insulation-block h4 {
  font-size: 2rem;
  height: 8rem;
  text-align: left;
}
.insulation-block p {
  font-size: 2rem;
}
.insulation-block button {
  z-index: 900;
  position: relative;
}
.insulation-block-image {
  z-index: 100;
  position: absolute;
  right: 0rem;
  top: 1rem;
}
.insulation .service {
  text-align: center;
  font-size: 2rem;
  color: #1a1820;
  margin: 4rem 0;
}
.insulation .service-button {
  margin: 3rem 0;
}
/*Секция с ценами*/
.price {
  background: #036ffc url(../img/price-bg.jpg) center;
  /*Карточки с тарифами*/
}
.price-header-btn {
  margin-top: 7rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 2rem 3rem 4rem;
  background-color: #ffffff;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  min-height: 50rem;
  margin-bottom: 3rem;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.price-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.price-list li:before {
  content: "\2714";
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  color: #05cc05;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
/*Секция с отзывами*/
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
  /*оформление обратной формы*/
}
.feedback-prev-btn {
  left: -4rem;
  padding: 0rem;
}
.feedback-next-btn {
  right: -4rem;
  padding: 0rem;
}
.feedback-text {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b814;
  font-style: italic;
  position: relative;
}
.feedback-text::before {
  content: "";
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2.1rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.11);
  margin-bottom: 5rem;
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.feedback-slider .media img {
  width: 64px;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  border: none;
}
.feedback-slider-btn img {
  width: 100%;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}
.feedback-form label {
  transform: translate(-50%, 8px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  bottom: 0;
  left: 5rem;
  max-width: 30rem;
}
/*Схема работы*/
.scheme {
  background: #ffffff url(../img/schema-bg.jpg) bottom right no-repeat;
  background-size: 90%;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
/*Все на 100% включено*/
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .section-header_active {
  margin-top: -5rem;
}
.all-inclusive .section-header_active h2 {
  padding: 4rem 0;
}
.all-inclusive .media {
  min-height: 9rem;
}
.all-inclusive .media h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  padding: 0.4rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  min-width: 5rem;
  border: 3px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
/*мы развеем всек сомнения*/
.problems {
  position: relative;
}
.problems-man {
  position: absolute;
  width: 30rem;
  bottom: 0;
  left: 50%;
  margin-left: -15rem;
  margin-bottom: -10rem;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 28rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.problems-list ul {
  padding: 2rem;
  list-style: none;
}
.problems-list ul li {
  padding-left: 3.5rem;
  position: relative;
  margin-bottom: 3rem;
}
.problems-list ul li:before {
  content: "\2714";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
}
.problems-list_bad {
  border-color: #66666c;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  content: "X";
  color: #ff0000;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li:before {
  color: #46b814;
}
.materials {
  margin-top: 25rem;
}
.materials p {
  margin: 3rem 0rem;
}
.materials_block {
  text-align: center;
}
.materials_block img {
  min-height: 16rem;
}
.materials_block h5 {
  color: #46b814;
}
.materials_contacts {
  margin: 4rem 0rem;
  text-align: center;
}
.materials {
  background: #ffffff url(../img/feedback/feedback-bg.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
}
.materials-block {
  text-align: center;
}
.materials-block h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.materials-block p {
  font-size: 1.6rem;
  width: 90%;
  display: inline-block;
}
.materials-img {
  height: 8rem;
  margin-bottom: 7rem;
}
.materials-img img {
  display: block;
  margin: 0 auto;
}
.materials-link {
  color: #46b814;
  border-bottom: 1px dotted #46b814;
}
.materials-link:hover {
  color: #348a0f;
}
.materials_contacts span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.tour {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.308);
  background: url(../img/bg-tour.jpg) center no-repeat;
  background-size: cover;
  padding: 5rem 5rem;
}
.tour-btn {
  font-size: 1.3rem;
  padding: 1rem 1rem;
}
/*Дополнительные услуги*/
.upsell {
  background: #333333;
  padding-top: 0.5rem;
}
.upsell-block {
  min-height: 30rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 3rem;
}
.upsell-blocks {
  margin-top: 3rem;
}
.upsell-block img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 30rem;
}
.upsell-block p {
  font-size: 2rem;
}
/*Контакты*/
.contacts {
  background: #ffffff;
  padding-top: 4rem;
  /*Заголовок для формы*/
}
.contacts h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.contacts p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.contacts-link {
  display: inline-block;
  color: #1a1820;
  border-bottom: 1px dotted #1a1820;
}
.contacts-link:hover {
  color: #020203;
}
.contacts-form h2 {
  font-size: 1.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 3rem;
}
/*Офрмление подвала footer*/
footer {
  padding: 7rem;
}
footer .footer-contacts {
  text-align: center;
  padding-top: 0.5rem;
}
footer .footer-contacts p {
  margin: 0;
}
footer .footer-dev-logo {
  text-align: right;
  padding-top: 0.5rem;
  margin: 0;
}
/*Оформление модальных окон*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4rem 6rem;
  background-color: #ffffff;
  text-align: center;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@media (max-width: 1199px) {
  .phone-block {
    text-align: left;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .fotorama {
    margin-bottom: 3rem;
  }
  .hand {
    position: absolute;
    bottom: 0;
    left: 5%;
    max-width: 20rem;
  }
  .price {
    /*Карточки с тарифами*/
  }
  .price-header-btn {
    margin-top: 7rem;
  }
  .price-button {
    text-align: right;
  }
  .price-block {
    padding: 2rem 3rem 4rem;
    background-color: #ffffff;
    box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
    text-align: center;
    min-height: 50rem;
    margin-bottom: 3rem;
  }
  .price-block h4 {
    min-height: 6rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top;
  }
  .main-menu {
    margin-top: 2rem;
  }
  .main-form {
    padding: 3rem;
  }
  .main-form-header h2 {
    font-size: 1.5rem;
  }
  .phone-block {
    text-align: center;
    margin-right: 3rem;
  }
  .main-content {
    margin-top: 10rem;
    font-size: 1rem;
  }
  .main-title {
    font-size: 1rem;
    padding-bottom: 3rem;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: scaleY(-50%);
  }
  .price-button {
    text-align: center;
    padding: 3rem 4rem;
  }
  .price-header-btn {
    padding: 1rem 2rem;
  }
  .price-block {
    margin-top: 4rem;
  }
  .price .section-header_light {
    margin-bottom: 0;
  }
  .price-list {
    padding: 0;
    list-style: none;
    min-height: 18rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .price-list li:before {
    content: "\2714";
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    color: #05cc05;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .price-block {
    padding: 1rem 1.5rem 4rem;
  }
  .feedback-form {
    padding: 0rem 0rem;
  }
  .feedback-form label {
    white-space: nowrap;
  }
  .all-inclusive .media {
    min-height: 9rem;
  }
  .all-inclusive .media h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
  }
  .all-inclusive .media p {
    font-size: 1.1rem;
  }
  .all-inclusive .media .circle-body {
    min-width: 5rem;
  }
}
@media (max-width: 850px) {
  .hand {
    left: 0;
  }
}
@media (max-width: 767px) {
  .main-menu {
    margin-top: 2rem;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: scaleY(-50%);
    transform: scaleY(-50%);
  }
  .price-button {
    text-align: center;
    padding: 3rem 4rem;
  }
  .price-header-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .price-section-header_light {
    margin-bottom: 0;
  }
  .hand {
    display: none;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .scheme {
    text-align: center;
  }
}
@media (max-width: 575px) {
  /* бурргер Х*/
  .cmn-toggle-switch {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 35px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 5px;
    border: solid white 2px;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  .cmn-toggle-switch:focus {
    outline: none;
  }
  .cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 15px;
    left: 5px;
    right: 5px;
    height: 2px;
    background: white;
  }
  .cmn-toggle-switch span::before,
  .cmn-toggle-switch span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: "";
  }
  .cmn-toggle-switch span::before {
    top: -9px;
  }
  .cmn-toggle-switch span::after {
    bottom: -9px;
  }
  .cmn-toggle-switch__htx {
    background-color: #333333;
  }
  .cmn-toggle-switch__htx span {
    -webkit-transition: background 0 0.3s;
    transition: background 0 0.3s;
  }
  .cmn-toggle-switch__htx span::before,
  .cmn-toggle-switch__htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0;
    transition-delay: 0.3s, 0;
  }
  .cmn-toggle-switch__htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
  }
  .cmn-toggle-switch__htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
  }
  /* active state, i.e. menu open */
  .cmn-toggle-switch__htx.active {
    background-color: #c51515;
  }
  .cmn-toggle-switch__htx.active span {
    background: none;
  }
  .cmn-toggle-switch__htx.active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cmn-toggle-switch__htx.active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .cmn-toggle-switch__htx.active span::before,
  .cmn-toggle-switch__htx.active span::after {
    -webkit-transition-delay: 0, 0.3s;
    transition-delay: 0, 0.3s;
  }
  .main-content {
    margin-top: 4rem;
    font-size: 0.5rem;
  }
  .main-content .col-12 {
    padding: 0rem 0rem;
  }
  .header .row .col-12 {
    padding: 0rem 0rem;
  }
  .main-menu {
    position: relative;
    z-index: 1000;
    background-color: #333333;
    border-top: solid 1px #333333;
    border-bottom: solid 1px #333333;
    margin-top: 2.5rem;
    white-space: nowrap;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .main-menu .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
  }
  .main-menu .navbar-light .navbar-toggler {
    border-color: #ffffff;
    z-index: 1000;
  }
  .main-menu .navbar {
    padding: 0.5rem 1rem;
  }
  .main-title {
    position: relative;
    z-index: 1;
    border-top: solid #c51515;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .main-title h1 {
    font-size: 1.4rem;
    padding: 1rem;
    margin-top: 4rem;
    line-height: 2rem;
  }
  .main-title p {
    font-size: 1.4rem;
    padding: 1rem;
    margin-top: 0rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .phone-block {
    text-align: center;
    margin-top: 1rem;
    width: 100%;
  }
  .wrap {
    display: table;
  }
  .wrap-block {
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
  }
  /*Секция с ценами автозвук*/
  .sound {
    background: #333333 url(../img/price-bg.jpg) center;
  }
  .sound .section-header {
    margin: 1rem;
  }
  .sound .section-header h2 {
    font-size: 2rem;
  }
  .sound .section-header p {
    font-size: 1rem;
  }
  .sound-block {
    position: relative;
    overflow: hidden;
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    box-sizing: 7px 12px 12px 0px rgba(0, 0, 0, 0.17);
    text-align: left;
    min-height: 3rem;
    box-shadow: inset 0 0 32px rgba(73, 73, 73, 0.16);
  }
  .sound-block h4 {
    font-size: 1.3rem;
    height: 2rem;
    text-align: left;
  }
  .sound-block p {
    font-size: 1.4rem;
  }
  .sound-block button {
    z-index: 900;
    position: relative;
  }
  .sound-block-image {
    z-index: 100;
    position: absolute;
    right: 0rem;
    top: 1rem;
  }
  .sound .service {
    text-align: center;
    color: #ffffff;
    margin: 1rem 0;
  }
  .sound .service h3 {
    font-size: 1.3rem;
  }
  .sound .service-button {
    margin: 1rem 0;
  }
  /*Секция с ценами шумоизоляция*/
  .insulation {
    background: #333333 url(../img/feedback/feedback-bg.jpg) center;
  }
  .insulation .section-header {
    margin: 1rem;
  }
  .insulation .section-header h2 {
    font-size: 2rem;
  }
  .insulation .section-header p {
    font-size: 1rem;
  }
  .insulation-block {
    position: relative;
    overflow: hidden;
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    box-sizing: 7px 12px 12px 0px rgba(0, 0, 0, 0.17);
    text-align: left;
    min-height: 3rem;
    box-shadow: inset 0 0 32px rgba(73, 73, 73, 0.16);
  }
  .insulation-block h4 {
    font-size: 1.3rem;
    height: 2rem;
    text-align: left;
  }
  .insulation-block p {
    font-size: 1.4rem;
  }
  .insulation-block button {
    z-index: 900;
    position: relative;
  }
  .insulation-block-image {
    z-index: 100;
    position: absolute;
    right: 0rem;
    top: -3rem;
  }
  .insulation .service {
    text-align: center;
    margin: 1rem 0;
    color: #1a1820;
  }
  .insulation .service h3 {
    font-size: 1.3rem;
  }
  .insulation .service-button {
    margin: 1rem 0;
  }
}
@media (max-width: 456px) {
  .logo {
    display: inline-block;
  }
  .logo logo-h1 {
    display: none;
  }
  .phone-block {
    text-align: right;
    white-space: nowrap;
    margin-right: 0rem;
  }
  .phone-link {
    display: inline-block;
    color: #1a1820;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    height: 3rem;
    line-height: 0rem;
  }
  .header {
    height: 7rem;
    margin-bottom: 5rem;
  }
  .text-rigth {
    text-align: right;
  }
  .wrap {
    text-align: center;
    width: 100%;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content {
    font-size: 0.5rem;
  }
  .main-title h1 {
    font-size: 1.4rem;
    padding: 1rem;
    margin: 6rem 0rem 0rem 0rem;
    line-height: 2rem;
  }
  .main-title p {
    font-size: 1.4rem;
    padding: 1rem;
    margin-top: 0rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  /*Дополнительные услуги*/
  .upsell h2 {
    font-size: 3rem;
  }
}
